body {
  font-family: sans-serif;

}

.form-signin {
  margin: 10px auto;
  text-align: center;
}

.section-text {
  text-align: center;
  color:darkcyan;
  padding: 5% 0;
}

.logo {
  border-radius: 5%;
  width: 50%;
  margin-bottom: 2%;
  border: solid 2px darkcyan;

}

.form-floating {
  width: 50%;
  margin: 0 auto;
  color:darkcyan;
}

.btn {
  margin-top: 5%;
  width: 30%;
}

.footer-text {
  text-align: center;
  padding: 5% 0;
  color:darkcyan;
}

@media (min-width: 1200px) {
  .logo {
    width: 30%;
    border: solid 2px darkcyan;
  }

  .section-text {
    text-align: center;
    color:darkcyan;
    padding: 3% 0;
  }

  .footer-text {
    text-align: center;
    padding: 1% 10%;
  }

  .form-floating {
    width: 30%;
  }

  .btn {
    width: 20%;
    margin-top: 1%;
  }
}